# Created by .ignore support plugin (hsz.mobi)
### LibreOffice template
# LibreOffice locks
.~lock.*#
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

.idea
# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# Mongo Explorer plugin:
.idea/**/mongoSettings.xmls

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.ipynb_checkpoints

# R auxiliary files
.Rhistory
src/.ipynb_checkpoints/
docs/Joshua_Bloom_email_Re_ genetic markers for yeast segregants.rtfd.zip
docs/GEO_parse official documentation.pdf
docs/Joshua_Bloom_email_Re_ genetic markers for yeast segregants.rtfd/
docs/Zia_Khan_email_Re_ 2d protein QTL LOD plots_.rtf
/docs/networkx_official_documentation.pdf
/docs/meeting2010-12-07.pptx
/docs/yuri_readme.txt
/docs/yuri_readme2017.txt
/data/Foss2007_protein_expression.csv
/data/genotypes.csv
/data/genotypes_annotation.csv
/private/
/src/CLUSTER_data_analysis.py
/src/initial_data_cleanup.ipynb
/.gitignore
src/.RData
/data/BIOGRID-ORGANISM-Saccharomyces_cerevisiae_S288c-3.4.152.mitab.csv
/data/raw_new_data/nature_2013/
/supplementary_materials/
